window.env = {
  VITE_NEWSAPI_BASE_URL: "$VITE_NEWSAPI_BASE_URL",
  VITE_GUARDIAN_BASE_URL: "$VITE_GUARDIAN_BASE_URL",
  VITE_NYTIMES_BASE_URL: "$VITE_NYTIMES_BASE_URL",
  VITE_NEWSAPI_KEY: "$VITE_NEWSAPI_KEY",
  VITE_GUARDIAN_KEY: "$VITE_GUARDIAN_KEY",
  VITE_NYTIMES_KEY: "$VITE_NYTIMES_KEY"
};
